.jellyConfigError{
    display: none;
    color: #ff0000;
    font-size: 0.75em;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#jellyContent{
  min-width: 350px;
  max-width: 45vw;
  display: block;
}

#flash-card-program-select-box{
  position: sticky;
  top: 30px;
  width: 20vw;
  min-width: 200px;
  align-self: flex-start;
  min-height: 50vh;
  max-height: 100vh;
  overflow-y: scroll;
}

#toc{
  width: 175px;
  align-self: flex-start;
  height: auto;
  top:30px;
  position: sticky;
  overflow-y: scroll;
  max-height: 100vh;
}

#toc-list{
  padding-left: 5px;
}

#title{
  margin-top: 20px;
}

h2{
  margin-top: 50px;
}
